@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para a barra de rolagem */
::-webkit-scrollbar {
    width: 8px;
    /* Largura da barra de rolagem */
}

/* Handle da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: #5c5c5c;
    /* Cor do handle da barra de rolagem */
    border-radius: 6px;
    /* Arredondamento das bordas do handle */
}

/* Handle da barra de rolagem ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: #787878;
    /* Cor do handle ao passar o mouse */
}

/* Track da barra de rolagem */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Cor do track da barra de rolagem */
    border-radius: 6px;
    /* Arredondamento das bordas do track */
}